@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content px-4">
       <div>
                <h1 class="m-0 h3 fw-bold">
                    <SectionOutlet SectionName="pageTitle" />
                </h1>
            </div>
			<hr />
			@Body
        </article>
    </main>
</div>


